@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

body {
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    flex: 1;
    width: max-content;
    margin: 72px auto 0;
    display: flex;
    align-items: start;
    gap: 120px;
}